*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading{
  text-align: center;
  color: #404040;
  padding: 20px;
}

.wrapper{
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  background: teal;
  position: relative;
  display: block;
}

.column{
  display: flex;
  width: 100%;
  height: 30%;
  position: relative;
  left: 0;
  margin-bottom: 20px;
}

.row{
  display: flex;
  width: 100%;
  height: 70%;
  position: relative;
  left: 0;
}

.resizeableBox{
  position: relative;
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
  margin: 10px;
}

.resizeableBox2{
  position: relative;
  width: 680px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
  margin: 10px;
}

.resizeableBox3{
  position: relative;
  width: 1100px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15px;
  min-height: 15px;
  margin: 10px;
}

.resizer{
  position: absolute;
  background: white;
  border-radius: 10px;
}

.rr{
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 5px;
}

.rl{
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  width: 5px;
}

.rt{
  cursor: row-resize;
  height: 5px;
  left: 0;
  top: 0;
  width: 100%;
}

.rb{
  cursor: row-resize;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Split JS library */

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}